<div class="container">
    <div class="row">
        <div class="form-group-sm col-lg-3 pull-right">
            <br>
            <input type="text" class="form-control " placeholder="Search Team" ng-model="teamsearch">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-4 form-group" ng:repeat="user in users | filter:teamsearch">
            <div class="twPc-div">
                <a class="twPc-bg twPc-block"></a>
                <div>
                    <div class="twPc-button xl">
                        <a ng-href="{{user.html_url}}" target="_blank" class="btn btn-default btn-xs">Github</a>
                        <p></p>
                    </div>
                    <a title="{{user.login}}" ng-href="#{{user.login}}" class="twPc-avatarLink">
                        <img alt="{{user.login}}" ng-src="{{user.avatar_url}}" class="twPc-avatarImg">
                    </a>
                    <div class="twPc-divUser">
                        <div class="twPc-divName">
                            <a ng-href="#{{user.login}}">{{user.login}}</a>
                        </div>
                        <span>{{user.type}}</span>
                    </div>
                    <div class="twPc-divStats">
                        <a href="#{{user.login}}" class="btn btn-info btn-block">More Info...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
